<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="comandroid.permission.ans" />

    <application
        android:name=".helper.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourierApp"
        tools:targetApi="31">
        <activity
            android:name=".Admin.Activities.ChecksDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Dailogues.ChecksDialogClass"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.AllTimeSheetsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.TimeSheetActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Home.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.AdminViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Home.TimeSheetActivity"
            android:exported="false" />
        <activity android:name=".Admin.Activities.PendingAllTimeSheetsActivity"
            android:exported="true"/>
        <activity
            android:name=".Activities.Home.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.CourierDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Home.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Home.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.UserDetailsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAuIxeEpQQgN84bBitDRksZTcLHtIKSAeY" />

        <activity
            android:name=".Admin.Activities.UserLocationActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Home.AllUserLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Home.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Admin.Activities.EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.NotifcationsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.ChatScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.InboxActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Video.AllVideo"
            android:exported="true" />
        <activity
            android:name=".Admin.Video.AddVideo"
            android:exported="true" />
        <activity
            android:name=".Admin.AdminPanel"
            android:exported="true" />
        <activity
            android:name=".Activities.Home.VideoPlayActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.OnBoarding.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OnBoarding.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Authentication.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Authentication.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Authentication.GetSocialLinksActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activities.Home.NotificationsActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Authentication.ResetPasswordActivity"
            android:exported="true" />

        <service
            android:name=".helper.MessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>